ATABASE_URL="postgresql://user:password@localhost:5432/kelurahan_db?schema=public"

JWT_SECRET="ganti-dengan-random-string-yang-panjang-dan-aman"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="ganti-dengan-random-string-lain"

ADMIN_USERNAME="admin"
ADMIN_PASSWORD="kelurahan2024"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""